{% if value %}
    <div style="display: flex; justify-content: center;">
        <img src="{{ vich_uploader_asset(object, 'DocPictureFile') }}" alt="{{ field_description.label }}" style="max-height: 500px; max-width: 500px; margin: auto;">
    </div>
{% else %}
    <span class="label label-warning">No image</span>
{% endif %}